/public/vendor
/.idea
/database/seeders
/public/storage
/vendor
database.sql
/node_modules
public/themes/nest
package-lock.json
.env
storage/cache_keys.json
.env.example
.env.txt
composer.lock
platform/core/acl/public/js/profile.js
platform/core/dashboard/public/js/dashboard.js
platform/core/setting/public/js/setting.js
platform/packages/menu/public/js/menu.js
platform/plugins/ecommerce/public/js/discount.js
platform/plugins/stock/public
